__pycache__
__pycache__/
checkpoints
checkpoints/
deps
deps/
experiments
experiments/
experiments_1
experiments_1/
results
results/
visualize
visualize/
wandb
wandb/
slurm/job
slurm/job/
slurm/out
slurm/out/

*.csv
*.zip
*.png

# [MODIFIED]
._dbindex_/
t2m.tar.gz
# Below just for repositioning for code to be able to run. No need to add to git
get_motion_code.py
slurm-*
.DS_Store
**/.DS_Store
CLAUDE.md
agentScripts/
.gemini/
.claude/
AGENTS.md